/* basic styling*/

* {
    margin: 0;
    padding: 0;
    border: none;
}

:root {
    /* root colors */
    --black: #000000;
    --white: #ffffff;
    --red: #ff0000;
    --grey: #686a6c;
    --matte-black: #28282B;
    /* root font familys */
    --bebas-neue: 'Bebas Neue', cursive;
    --montserrt: 'Montserrat', sans-serifs;
}

body {
    font-family: 'Bebas Neue', cursive;
    color: white;
    background-color: var(--black);
    margin: 0;
}



body p {
    font-family: 'Montserrat', sans-serifs;
}

/* nav bar and logo styling for home page*/

 header {
    position: absolute;
    width: 100%;
 }

.mf-logo {
    width: 150px;
    margin-left: 30px;
    margin-top: -15px;
    float: left;
}

.mf-logo:hover {
    animation-name: logo-zoom;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}

@keyframes logo-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#nav-bar {
    font-size: 120%;
    letter-spacing: 3px;
    margin-top: 17px;
}

#nav-bar, img {
    line-height: 75px;
}

#nav-bar li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    margin-top: 15px;
    
}

#nav-bar a {
    text-decoration: none;
    color: var(--white);
}

/* nav bar selected and hover effect */

.selected {
    border-bottom: 1px solid var(--white);
}

#nav-bar a:hover {
    border-bottom: 1px solid var(--red);
    color: var(--red);
}



/* Hero Styling*/

.hero {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    
    text-align: center;

    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('../images/barbell.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.hero h1{
    font-size: 150px;
    margin-top: 0;
    margin-bottom: 0.5em;
    background-color: transparent;
}

/* main slogan effect */

.slogan-zoom {
    animation-name: slo-zoom;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}

@keyframes slo-zoom {
    from{
        transform: scale(0.9);
    }
    to{
        transform: scale(1.0);
    }
}

/* Journey button styling */

.button {
    display: inline;
    width: 150px;
    border: 1px solid var(--white);
    padding: 1em;
    
    border-radius: 30px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;

    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;

    color: var(--white);
    text-decoration: none;
}

/* journey button hover effect*/

 .button:hover {
    color: var(--red);
    border: 1px solid var(--red);
 }

 /* footer styling */

 footer {
    height: 150px;
 }

 .socials {
    text-align: center;
 }

 .socials > li {
    display: inline;
 }

 .socials i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: var(--white);
 }

/* socials hover effect*/

i:hover {
    color: var(--red);
 }

 /* header styling for website past home page*/

.hero-2 {
    width: 100%;
    height: 150px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('../images/dumbell-rack.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* about section*/

.about-cont {
    width: 100%;
    height: auto;
    background-color: var(--matte-black);
}

.about-cont h1 {
    font-size: 40px;
    padding-top: 10px;
    text-align: center;
    text-shadow: 1px 1px 2px var(--black);
}

.about-p {
    text-align: center;
    line-height: 30px;
    text-shadow: 1px 1px 2px var(--black);
}

.about-me-cont {
    width: 100%;
    height: 400px;
}

.about-me-cont h1 {
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 316px;
}

/* About me circle */

.about-circ-cont {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: var(--white);
    border:20px solid var(--red);
    margin-left: 30px;
    /* Shape outside tool inspo from Kevin Powell Youtube*/
    shape-outside: circle(46.6%);
    margin-right: 30px;
    float: left;
    z-index: 2;
}

.about-circ-cont img {
    width: auto;
    height: 100%;
    border-radius: 50%;
    z-index: 1;
}

.about-me-cont p {
    padding: 30px;
    margin-top: -23px;
    margin-left: 134px;
    line-height: 30px;
    background-color: var(--red);
    text-shadow: 1px 1px 2px var(--black);
}

/* diet training and rest div styling */

/* pointer events removal from w3schools*/

.dtr-cont{
    display: flex;
    justify-content: center;
    margin: 30px;
    pointer-events: none;
}

.pillars{
    text-align: center;
    font-size: 40px;
    margin-top: -98px;
    margin-right: 300px;
}


.dtr-cont img{
    margin: 30px 30px;
    border-radius: 10px;
    object-fit: cover;
    width: 300px;
    height: 300px;
}

/* Transform values and centering text and pointer eventsfrom w3 schools*/

.diet-cont  {
    position: relative;
    text-align: center;
}
    

.cent-diet  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

.train-cont  {
    position: relative;
    text-align: center;
}

.cent-train  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

.rest-cont  {
    position: relative;
    text-align: center;
}

.cent-rest  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

/* collapsible paragrph styling */

#dropdown-menu {
    width: 100%;
}

#dropdown-menu li{
    list-style-type: none;
    width: 100%;
    margin-bottom: 10px;
    padding: 0;
    border-radius: 4px;
}

#dropdown-menu li label {
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    cursor: pointer;
}

#dropdown-menu li label span{
    transform: rotate(90deg);
    font-size: 22px;

}

#dropdown-menu label + input[type="radio"]{
    display: none;
}

#dropdown-menu .content {
    padding: 0 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5sec;
    background-color: var(--matte-black);

}

#dropdown-menu label + input[type="radio"]:checked + .content{
    max-height: 600px;

}

.first {
    background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('../images/pineapples.jpg') center no-repeat;
    object-fit: cover;
}

.second {
    background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('../images/gymhll.jpg') center no-repeat;
    object-fit: cover;
}

.third {
    background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('../images/bedrest.jpg') center no-repeat;
    object-fit: cover;
}

/* Ul in diet accordion segment*/

.am-ul {
    text-align: center;
    font-family: var(--montserrt);
    margin-top: 15px;
}

.content a{
    color: var(--red);
}

.content .jn-min {
    text-align: center;
    margin-bottom: 10px;
}

.content p {
    margin-top: 10px;
}

/* Contact me styling*/

.contact-section{
    height: 65vh;
    width: 100vw;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('../images/running-woman-sun.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.contact-section h1{
    font-size: 40px;
    text-align: center;
    padding-top: 10px;
    text-shadow: 1px 1px 2px var(--black);
}

.contact-box {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 0 10px;

}

.ginc-box form {
    max-width: 550px;
    margin: 0 auto;
    margin-bottom: 60px;
    background: rgba(0, 0, 0, 0.5);
    padding: 60px;
    border-radius: 5px;
    display: flex;
    box-shadow: 0 0 10px;
}
/* Item styling*/

.item {
    display: flex;
    flex-direction: column;
    column-count: 2;
    margin-right: 4%;
}

.item, .mes {
    width: 48%;
}

.item .inputs, .mes textarea {
    margin: 10px 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid var(--white);
    font-family: var(--montserrt);
    padding: 10px;
    color: var(--white);
    width: 100%;
    height: 40%;
}

.mes textarea {
    height: 212px;
}

/* submit styling */

.contact-box .btn{
    padding: 10px;
    border-radius: 5px;
    height: 30px;
    width: 100%;
    font-family: var(--montserrt);
    background: var(--red);
    color: white;
    cursor: pointer;
}

/* 404 page styling */

.error-page {
    height: 65vh;
    width: 100vw;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('../images/404-page.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/* media queries */
/* mobile */

@media screen and (max-width: 320px) {
    
    
}