/* basic styling*/

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Bebas Neue', cursive;
    color: white;
    background-color: black;
}



body p {
    font-family: 'Montserrat', sans-serifs;
}

/* nav bar and logo styling*/

 header {
    position: absolute;
    float: right;
    width: 100%;
 }

img {
    float: left;
    width: 150px;
    margin-left: 30px;
    margin-top: -15px;
}

img:hover {
    animation-name: logo-zoom;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}

@keyframes logo-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#nav-bar {
    font-size: 110%;
    letter-spacing: 3px;
    
}

#nav-bar, img {
    line-height: 75px;
}

#nav-bar li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    margin-top: 15px;
    
}

#nav-bar a {
    text-decoration: none;
    color: white;
}

.selected {
    border-bottom: 1px solid white;
}

#nav-bar a:hover {
    border-bottom: 1px solid red;
    color: red;
}

/* Hero Styling*/

.hero {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    
    text-align: center;

    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('/assets/images/barbell.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.hero h1{
    font-size: 150px;
    margin-top: 0;
    margin-bottom: 0.5em;
    background-color: transparent;
}

.slogan-zoom {
    animation-name: slo-zoom;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}

@keyframes slo-zoom {
    from{
        transform: scale(0.9);
    }
    to{
        transform: scale(1.0);
    }
}



/* Journey button styling */

.button {
    display: inline;
    width: 150px;
    border: 1px solid white;
    padding: 1em;
    
    border-radius: 30px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;

    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;

    color: white;
    text-decoration: none;
}

 .button:hover {
    color: red;
    border: 1px solid red;
 }

 /* footer styling */

 footer {
    height: 200px;
    background-color: black;
 }

 .socials {
    text-align: center;
 }

 .socials > li {
    display: inline;
 }

 .socials i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: white;
 }

i:hover {
    color: red;
 }

 #page2-3 {
    position: relative;
 }

 #about h1 {
    text-align: center;
    font-size: 60px;
 }

 #about p {
    text-align: center;
    padding: 30px 160px;
 }

 /* Trinity Styling */

 #trinity-of-fitness h1 {
    text-align: center;
    font-size: 100px;
 }

 #parent {
    display: flex;
    align-items: center;
    justify-items: center;
    padding-top: 30px;
 } 

 #parent h2 {
    text-align: center;
    line-height: 15;
    font-size: 30px;
  }

  .left {
    width: 400px;
    height: 400px;
    padding: 10px;
    border: 60px;
    border-radius: 10px;
    background-image: url('/assets/images/apple.jpg');
    background-size: cover;
    background-position: center;
    margin: 0 auto;
  }


  .center {
    width: 400px;
    height: 400px;
    padding: 10px;
    border: 60px;
    border-radius: 10px;
    background-image: url('/assets/images/dumbell.jpg');
    background-size: cover;
    background-position: center;
    margin: 0 auto;
  }

  .right {
    width: 400px;
    height: 400px;
    padding: 10px;
    border: 60px;
    border-radius: 10px;
    background-image: url('/assets/images/rest.jpg');
    background-size: cover;
    background-position: right;
    margin: 0 auto;
  }

 